.button {
	padding: 1rem 2rem;
	background: var(--red-gradient);
	color: white;
	font-family: var(--roboto);
	font-weight: 700;
	font-size: 1.5rem;
	letter-spacing: 0.1rem;
	border-radius: 0.625rem;
	text-transform: uppercase;
	cursor: pointer;
}
