.comentario {
	margin-bottom: 6.25rem;

	.content {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		height: 32rem;

		.text {
			background-color: rgba(255, 255, 255, 0.7);
			backdrop-filter: blur(5px);
			max-width: 36rem;
			font-family: var(--pacifico);
			font-size: 2rem;
			letter-spacing: 0.02rem;
			border-radius: 0.625rem;
			padding: 1.25rem 2.5rem;

			span {
				font-family: var(--roboto);
				font-size: 1.2rem;
				font-weight: 500;
			}
		}
	}
}
