.content {
	padding: 1.5rem;
	background: var(--blue-gradient);
	border-radius: 0.625rem;
	width: 35rem;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);

	.title {
		font-family: var(--pacifico);
		font-size: 2rem;
		text-align: center;
		letter-spacing: 0.05rem;

		h3 {
			&::first-letter {
				color: white;
			}

			span {
				color: white;
			}
		}
	}

	.complementos {
		color: white;
		font-family: var(--roboto);
		font-weight: 500;

		ul li {
			display: flex;
			align-items: center;
			justify-content: space-between;
			letter-spacing: 0.02rem;
			margin-top: 0.75rem;

			p {
				&::before {
					position: relative;
					top: 0.07rem;
					content: '';
					display: inline-flex;
					width: 0.85rem;
					height: 0.85rem;
					background-color: white;
					border-radius: 50%;
					margin-right: 0.5rem;
				}
			}
		}
	}
}
