@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@300;400;500&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	--roboto: 'Roboto', sans-serif;
	--pacifico: 'Pacifico', cursive;
	--red: #cc1f1f;
	--blue: #2b93cd;
	--red-gradient: linear-gradient(to bottom, #ff3737, #a60b0b);
	--blue-gradient: linear-gradient(to bottom, #32a1e0, #0e80c0);
}

body {
	padding-top: 5rem;
}

ul,
li {
	list-style: none;
}

img {
	display: block;
	max-width: 100%;
}

button,
input {
	display: block;
	font-size: 1rem;
}

a {
	text-decoration: none;
}

.container {
	max-width: 52rem;
	margin: 0 auto;
}

.container-lg {
	max-width: 65rem;
	margin: 0 auto;
}

.main-container {
	margin-top: 6.25rem;
}

.App {
	display: flex;
	flex-flow: column;
	min-height: calc(100vh + 23.5rem);
	overflow: hidden;

	.AppBody {
		flex: 1;
	}
}

.animaLeft {
	animation: left 0.8s forwards;
}
.animaRight {
	animation: right 0.8s forwards;
}
.animaBottom {
	animation: bottom 0.8s forwards;
}
.animaTop {
	animation: top 0.8s forwards;
}

@keyframes left {
	0% {
		opacity: 0;
		transform: translateX(20px);
	}
	100% {
		opacity: initial;
		transform: initial;
	}
}
@keyframes right {
	0% {
		opacity: 0;
		transform: translateX(-20px);
	}
	100% {
		opacity: initial;
		transform: initial;
	}
}
@keyframes bottom {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: initial;
		transform: initial;
	}
}
@keyframes top {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}
	100% {
		opacity: initial;
		transform: initial;
	}
}
